services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: local
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U root -d local']
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: node:20-alpine
    restart: 'no'
    working_dir: /app
    volumes:
      - .:/app
    environment:
      DATABASE_URL: postgresql://root:mysecretpassword@db:5432/local
    command: sh -c "npm install && npm run db:push"
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
